<div th:fragment="headerMain">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

                    <li><a href="/sellerdir" class="nav-link px-2 text-white">☺</a></li>
                    <li><a href="/sellerdir/addweaponmodel" class="nav-link px-2 text-white">Добавить модель</a></li>
                    <li><a href="/sellerdir/addweapon" class="nav-link px-2 text-white">Добавить оружие</a></li>
                    <li><a href="/sellerdir/cheque" class="nav-link px-2 text-white">Оформить чек</a></li>
                    <li><a href="/sellerdir/checkcheque" class="nav-link px-2 text-white">Просмотреть чеки</a></li>
                    <form th:action="@{/logout}" method="post">
                        <li> <input class="nav-link px-2 text-white btn btn-dark" type="submit" value="Выйти" /></li>
                    </form>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/sellerdir/filter" method="get">
                    <input type="search" name="searchName" class="form-control form-control-dark text-bg-dark" placeholder="Поиск..." aria-label="Поиск">
                </form>


            </div>
        </div>
    </header>
</div>