<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Редактирование ' + ${supplier.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="fragments/headerstore :: headerMain"></div>

<form th:object="${supplier}" method="post">
    <h3 th:text="'Контактное лицо:'"></h3>

    <input type="text" th:field="*{name}" name="name" placeholder="Контактное лицо">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div><br>
    <h3 th:text="'Телефон:'"></h3>

    <input type="text" th:field="*{phone}" name="phone" placeholder="Номер телефона">
    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></div><br>



    <input type="submit"  value="Изменить поставщика" class="btn btn-success"><br>


</form>
<a th:href="'/storekeeperdir/'" class="btn btn-dark">Выйти</a>

</body>
</html>